:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  /* background-image: linear-gradient(to bottom right, blue, gray); */
  background-image: url('https://res.cloudinary.com/cloud-juan/image/upload/v1695996967/portfolio/fjhpjvjjh0glamfpssow.jpg');
}

.main-container {
  min-height: 100vh;
}

main {
  height: 100%;
}

span {
  margin: auto 5px;
}

#title-portafolio:hover{
  text-decoration: underline;
}

.rejilla{
  height: 100vh;
}

@media (min-width: 576px) {
  .carousel-control-prev{
    left: -5rem;
  }
  
  .carousel-control-next{
    right: -5rem;
  }
}

.carousel-indicators{
  bottom: -40px;
}

#front-icon{
  height: 40px;
}

#back-icon{
  height: 30px;
}

/* img.header-icons{
  height: 40px;
} */

.main-images{
  width: 75%;
  margin: auto;
}

.icon-front{
  height: 35px;
  margin: auto 0;
}

.icon-back{
  height: 40px;
  margin: auto 0;
}

@media (max-width: 576px){
  .main-images{
    width: 90%;
  }
}

.frame{
  height: 30px;
  margin: auto 0;
}

.icon-button{
  height: 30px;
  margin: auto 0;
}

#col-search{
  margin-right: 2px;
  padding: 1px;
}

/* #input-search{
  padding: 7px 0;
} */