:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  /* background-image: linear-gradient(to bottom right, blue, gray); */
  background-image: url('https://res.cloudinary.com/cloud-juan/image/upload/v1695831398/portfolio/ybcrnvhmug1rtkgywtii.jpg');
}

.main-container {
  min-height: 100vh;
}

main {
  height: 100%;
}

#title-portafolio:hover{
  text-decoration: underline;
}

.rejilla {
  height: 100vh;
}

.carousel-control-prev{
  left: -30px;
}

.carousel-control-next{
  right: -30px;
}

#front-icon{
  height: 30px;
}